rpy2
numpy
pandas
scikit-learn
matplotlib
seaborn
torch
torchvision
humanfriendly
jsonpickle
Pillow
umap-learn
xarray
plotly
ipywidgets
librosa
tqdm
tensorflow
tensorflow_hub
git+https://github.com/MScEcologyAndDataScienceUCL/BIOS0032_AI4Environment@main
git+https://github.com/mbsantiago/batdetect2@main
